* {
  padding: 0px;
  margin: 0px;
}

.App {
  display: inline;
}

#Notepad-body {
  background-color: #f4f6ff;
  min-height: 1000px;
  display: inline;
  font-size: 20px;
}

#Notepad-menu {
  background-color: #4f8a8b;
  padding: 5px;
}

#StickyFooter {
  text-align: right;
  font-size: 15px;
  color: #ea907a;
  cursor: pointer;
}

.sticky {
  background: #fbd46d;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  color: #07031a;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.sticky h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.sticky p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

